@import 'mixins';
@import 'variables';

.my-photobooks-page-component {
  .m-magazine-cover {
    position: relative;
    width: 352px;

    img {
      width: 100%;
    }

    .cover-heading-preview {
      font-family: "San Francisco";
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.2s ease-in-out;
      text-align: center;
      transform: translate(0, -100%);
      display: inline-block;
      background: url('../../../assets/images/white_blur.rsc');
      background-size: 100% 100%;
      background-position: 50% 50%;
      padding: 30px;
      width: 100%;
    }
  }

  .dropdown-menu2 {
    list-style-type: none;
    padding: 0;
    position: static;
    width: 100%;
    box-shadow: none;
    border: none;

    li {
      font-size: 1rem;
      width: 100%;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .date {
    font-size: 1.125rem;
    font-family: 'San Francisco';
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    
    &::before {
      font-size: 30px;
      background-image: url('../../../assets/images/icongrid_2.svg');
      background-size: 51em 6em;
      width: 1em;
      height: 1em;
      background-position: -8em 0em;
      content: '';
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }

  .status-toggle {
    width: 100%;
    flex-direction: column;
  }

  .share-btn{
    &::before {
      content: '';
      display: inline-block;
      font-size: 100%;
      background-image: url('../../../assets/images/icongrid_2.svg');
      background-size: 51em 6em;
      width: 1em;
      height: 1em;
      background-position: -46em 0em;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 10px;
    }
  }

  .common-rounded-button {
    font-family: 'San Francisco';
    font-size: 1.25rem;
    min-width: 200px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0.75rem 1.5rem;
    display: inline-flex;

    span {
      color: $white;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 1.25rem 0 0.55rem 0;
  }

  .small-font {
    font-size: 1.15rem;
    line-height: 1.4;
    font-family: 'San Francisco';
    font-weight: 700;
  }
}