@import 'mixins';
@import 'variables';

.header-component {
  position: relative;
  z-index: 100;
  height: $header-height;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);

  .app-logo {
    margin-left: 15px;

    a {
      position: relative;
      min-width: 300px;
      color: $black;
      text-decoration: none;
  
      &:before {
        @include icon-grid-svg-display();
        @include icon-grid-svg(-15em, 0, 50px);
        margin-right: 20px;
        float: left;
      }
  
      div {
        &:first-child {
          cursor:pointer;
          display: block;
          font-size: 25px;
          margin: 6px 0 5px 0;
        }
        &:last-child {
          display: block;    
          font-size: 12px;
        }
      }
    }
  }

  .right-nav-container {
    > a {
      cursor: pointer;
      font-size: 18px;
      color: $black;
      line-height: 20px;
      margin: 0 20px;
      text-decoration: none;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}
