@import 'mixins';
@import 'variables';

.account-details-component {
  .sign-in-form {
    margin-bottom: 30px;

    .empty-div {
      width: 30px;
    }

    .form-group {
      position: relative;
      height: 80px;
      margin-bottom: 20px;
      flex: 1;
      padding-left: 15px;

      label {
        font-family: "San Francisco Medium", Arial, sans-serif;
        font-size: 22px;
        line-height: 15px;
      }

      input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $medium-gray;
        border-radius: unset;
        padding-left: 0;

        &.ng-invalid {
          border-color: $alert-error-background-color;
        }
      }

      .form-field-error {
        color: $alert-error-background-color;
        font-size: 14px;
        margin: 2px;
      }

      mat-form-field {
        display: block;

        .mat-form-field-wrapper {
          padding: 0;
          
          .mat-form-field-infix {
            padding: 0;
            border: none;
          }
  
          .mat-form-field-underline {
            display: none;
          }
        }
      }
    }

    .login-error-message {
      font-family: "San Francisco Medium", Arial, sans-serif;
      font-size: 20px;
      height: 30px;
      color: $alert-error-background-color;
      text-align: center;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 1.25rem 0 0.55rem 0;
  }
}
