<div class="steps-navigation-component">
  <a routerLink="create/step1" l10nTranslate>
    STEPS_NAVIGATION_PHOTOS
  </a>
  <a routerLink="create/step2" l10nTranslate>
    STEPS_NAVIGATION_COVER
  </a>
  <a routerLink="create/step3" l10nTranslate>
    STEPS_NAVIGATION_LAYOUT
  </a>
  <a routerLink="create/step4" l10nTranslate>
    STEPS_NAVIGATION_FORMAT
  </a>
  <a routerLink="create/step5" l10nTranslate>
    STEPS_NAVIGATION_PREVIEW
  </a>
  <a routerLink="create/step6" l10nTranslate>
    STEPS_NAVIGATION_ORDER
  </a>
</div>
