.color-slider-wrapper {
  .color-one {
    width: 33px;
    height: 33px;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
    &:first-child {
      border: 1px solid #000000;
    }
    &.selected {
      outline: 2px solid orangered;
    }
  }
}
