<div class="cover-position-selector" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-around center">
  <button class="btn-cover active-gradient" type="button" [class.active]="position === CoverPosition.Bottom" (click)="selectPosition(CoverPosition.Bottom)">Bottom</button>
  <button class="btn-cover active-gradient" type="button" [class.active]="position === CoverPosition.Middle" (click)="selectPosition(CoverPosition.Middle)">Middle</button>
  <button class="btn-cover active-gradient" type="button" [class.active]="position === CoverPosition.Top" (click)="selectPosition(CoverPosition.Top)">Top</button>
</div>
