<div fxFlex="1 1 auto" class="layout-container">
  <div class="button-layer mt-5 mb-3" fxLayoutAlign="center center">
    <span class="mr-4">positie tekst</span>
    <button class="btn-cover active-gradient active" (click)="setCurrentMagazine(0)">Option1</button>
    <button class="btn-cover active-gradient" (click)="setCurrentMagazine(1)">Option2</button>
    <button class="btn-cover active-gradient" (click)="setCurrentMagazine(2)">Option3</button>
    <button class="btn-refresh" (click)="generateJSON({ force: true })"><div class="refresh-layout-btn"></div></button>
  </div>
  <div class="text-center">
    <p class="mb-0">On this page you can change the position of your photos by switching their locations.</p>
    <p>Be aware: Your selected border isn't shown. You will see your selected border in the preview (next step).</p>
  </div>
  <div class="layout-edit-overlay">
    <div class="open-book-preview-wrapper front-cover-wrapper">
      <div class="page-number left">1</div>
      <div class="open-book-preview single front-cover"
          [style.background-image]="'url(' + frontCover?.url + ')'"></div>
    </div>

    <ng-container *ngIf="stateService?.magazineJSON">
      <div class="open-book-preview-wrapper" *ngFor="let key of itemArray">
        <div class="page-number left">{{ key + 2 }}</div>
        <div class="page-number right">{{ key + 3 }}</div>
        <div class="open-book-preview"
             fxLayout="row"
             [style.background-color]="layoutStateService?.magazineStyle?.backgroundColor">
          <div class="left-side"
               fxFlex="0 0 50%"
               [attr.data-spread]="currentMagazine?.pages[key]?.isSpread"
               [style.background-image]="'url(' + layoutStateService?.magazinePattern + ')'">
            <div class="book-image" *ngFor="let image of currentMagazine?.pages[key];let i = index"
                 pbSwappable draggable="true"
                 [attr.data-id]="image?.id"
                 [attr.data-orientation]="image?.orientation"
                 [attr.data-spread]="image?.isSpread"
                 [attr.data-page-index]="key"
                 [attr.data-index]="i"
                 [style.width]="setPreviewImageWidth(210, image.width, image.isSpread)"
                 [style.height]="setPreviewImageHeight(297, image.height, image.isSpread)"
                 [style.top]="toPercentage(297, image.y, image.isSpread)"
                 [style.left]="toPercentage(210, image.x, image.isSpread)"
                 style="width: 50px; height: 50px;"
                 [style.background-image]="'url(' + layoutStateService.photoUrl(image.filePath) + ')'">
            </div>
          </div>
          <div class="right-side"
               fxFlex="0 0 50%"
               [style.background-image]="'url(' + layoutStateService?.magazinePattern + ')'">
            <div class="book-image" *ngFor="let image of currentMagazine?.pages[key + 1]; let i = index"
                 pbSwappable draggable="true"
                 [attr.data-id]="image?.id"
                 [attr.data-orientation]="image?.orientation"
                 [attr.data-spread]="image?.isSpread"
                 [attr.data-page-index]="key + 1"
                 [attr.data-index]="i"
                 [style.width]="setPreviewImageWidth(210, image.width, image.isSpread)"
                 [style.height]="setPreviewImageHeight(297, image.height, image.isSpread)"
                 [style.top]="toPercentage(297, image.y, image.isSpread)"
                 [style.left]="toPercentage(210, image.x, image.isSpread)"
                 [style.background-image]="'url(' + layoutStateService.photoUrl(image.filePath) + ')'">
            </div>
          </div>
        </div> <!-- .open-book-preview -->
      </div> <!-- .open-book-preview-wrapper -->
      <div class='open-book-preview-wrapper back-cover-wrapper'>
        <div class='page-number left'>{{ currentMagazine?.pages.length }}</div>
        <div class='open-book-preview single back-cover'>
          <div class='book-image' [style.background-image]="'url(' + layoutStateService.photoUrl(backCover[0]?.filePath) + ')'"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <pb-layout-footer-bar
    (prevStep)="prevStep()"
    (nextStep)="nextStep()">
  </pb-layout-footer-bar>
</div>
