<div class="steps-navigation-component">
  <a routerLink="/magazine/create/step1" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_PHOTOS
  </a>
  <a routerLink="/magazine/create/step2" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_COVER
  </a>
  <a routerLink="/magazine/create/step3" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_LAYOUT
  </a>
  <a routerLink="/magazine/create/step4" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_FORMAT
  </a>
  <a routerLink="/magazine/create/step5" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_PREVIEW
  </a>
  <a routerLink="/magazine/create/step6" routerLinkActive="active" l10nTranslate>
    STEPS_NAVIGATION_ORDER
  </a>
</div>
