<ul>
  <li><a routerLink="/magazine/create/step1" routerLinkActive="active">Step1</a></li>
  <li><a routerLink="/magazine/create/step2" routerLinkActive="active">Step2</a></li>
  <li><a routerLink="/magazine/create/step3" routerLinkActive="active">Step3</a></li>
  <li><a routerLink="/magazine/create/step4" routerLinkActive="active">Step4</a></li>
  <li><a routerLink="/magazine/create/step5" routerLinkActive="active">Step5</a></li>
  <li><a routerLink="/magazine/create/step6" routerLinkActive="active">Step6</a></li>
</ul>
