#pdf-container {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 40px;

  #wowbook-container {
    margin: auto;
  }
}

.preview-container {
  position: relative;
  height: calc(100vh - 135px);
}

.pdf-wrapper {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  height: calc(100vh - 220px);
  position: relative;
  overflow: hidden;
}

.arraw-nav {
  position: absolute;
  top: 50%;

  &.prev-nav {
    left: 10px;
  }
  &.next-nav {
    right: 10px;
  }
}

.isHide {
  visibility: hidden;
}

.progress-container {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;

  .progress-wrapper {
    width: 100%;
    height: 30px;
    max-width: 60vw;
    border-radius: 16px;
    margin: auto;
    background-color: grey;
    border: 1px solid grey;

    .preview-progress-bar {
      height: 100%;
      border-radius: 20px;
    }
  }
}
