@import 'mixins';
@import 'variables';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $color-secondary;
}

.upload-step-component {
  height: calc(100vh - 185px);
  overflow: auto;
  position: relative;

  .info-box-test {
    // position: absolute;
    // width: 300px;
    // height: 150px;
    // top: 20px;
    left: 10px;
    // background-color: orange;
  }

  .photo-drop-area {
    min-height: calc(100vh - 185px);
    padding: 20px;

    &.dragarea {
      border: 3px solid #bbb; 
      background-color: #fff;
      color: #bbb;
    }
  
    &.droparea {
      border: 3px dashed #bbb; 
      background-color: #eff;
      color: #aaa;
    }

    .image-wrapper {
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0;
      margin: 0 10px 20px 10px;
      position: relative;
      overflow: hidden;
      flex: 1;
      min-width: 10% !important;
      background-size: cover;
    
      &:first-child {
        margin-left: 520px;
      }
    
      .m-btn-photo-actions-wrapper {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px;
    
        .m-btn-photo-actions {
          width: 30px;
          height: 30px;
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 8px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
        
          &:before {
            @include icon-grid-svg-display();
            position: absolute;
            left: 6px;
            top: 5px;
          }
    
          &.icon-warning {
            &:before {
              @include icon-grid-svg(-10em, -1em, 20px);
            }
          }  
    
          &.icon-delete {
            background-color: $color-danger;
            &:before {
              @include icon-grid-svg(-27em, 0em, 16px);
            }
          }  
        }
      }
    }
  }
}
