@import '../../../../../mixins';
@import '../../../../../variables';

.image-wrapper {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  margin: 0 10px 20px 10px;
  position: relative;
  overflow: hidden;

  &:first-child {
    margin-left: 500px;
  }

  .m-btn-photo-actions-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;

    .m-btn-photo-actions {
      width: 30px;
      height: 30px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
    
      &:before {
        @include icon-grid-svg-display();
        position: absolute;
        left: 6px;
        top: 5px;
      }

      &.icon-warning {
        &:before {
          @include icon-grid-svg(-10em, -1em, 20px);
        }
      }  

      &.icon-delete {
        background-color: $color-danger;
        &:before {
          @include icon-grid-svg(-27em, 0em, 16px);
        }
      }  
    }
  }
}