<div style="position: relative">
  <pb-info-box></pb-info-box>
  <button class="btn btn-primary" (click)="deleteAll()">DeleteAll</button>
  <div [dragula]="'first-bag'" fxLayout="row wrap" fxLayoutGap="1.5rem">
    <div
      class="image-wrapper"
      [ngStyle]="{'backgroundImage': 'url(' + photoUrl(file?.url) + ')'}"
      [style.width.px]="file.width*200/file.height || 200"
      [style.height.px]="200"
      (click)="editFile(file, i)"
      *ngFor="let file of (magazine$ | async)?.files; let i = index">
      <pb-spinner *ngIf="file?.isLoading"></pb-spinner>
      <div class='m-btn-photo-actions-wrapper'>
        <span class="m-btn-photo-actions icon-warning" *ngIf="uploadStateService.isTooSmall(file) || uploadStateService.isWrongRatio(file)"></span>
        <span class='m-btn-photo-actions icon-delete pull-right' (click)="deleteFile(file, $event)"></span>
      </div>
      <div class="pb-mood-text" [innerHtml]="getMoodString(file?.mood)"></div>
    </div>
  </div>
  <pb-spinner *ngIf="isLoading"></pb-spinner>
</div>
