@import '../../../../mixins';
@import '../../../../variables';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $color-secondary;
}

.photo-upload-area {
  position: relative;
}


