<div fxLayout="row" class="cover-step-content-wrapper" fxFlex="1 1 auto">
  <div fxFlex="0 0 50%" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="0 0 50%">
      <h1>De voorkant kan alleen een staande foto zijn.</h1>
      <div class="cover-image-preview" fxFlex="0 0 60%">
        <img [src]="coverStateService.getCoverImage().url">
        <div class="cover-info"
             [class.top]="coverForm.get('position').value === CoverPosition.Top"
             [class.middle]="coverForm.get('position').value === CoverPosition.Middle"
             [class.bottom]="coverForm.get('position').value === CoverPosition.Bottom">
          <h3>{{ coverForm.get('title').value }}</h3>
          <h5>{{ coverForm.get('subtitle').value }}</h5>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="selectPhoto()">Select Photo</button>
    </div>
  </div>
  <div fxFlex="0 0 50%" class="cover-manage-section">
    <h1>Step 2: Cover</h1>
    <form [formGroup]="coverForm" (ngSubmit)="onSave()">
      <h3>Title Position</h3>
      <pb-cover-position-selector [position]="coverForm.get('position').value" (select)="coverForm.get('position').setValue($event)"></pb-cover-position-selector>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="" formControlName="title" maxlength="20">
        <span>{{ coverForm.get('title').value.length }}/20</span>
      </div>
      <div class="form-group">
        <label>SubTitle</label>
        <input type="text" class="form-control" placeholder="" formControlName="subtitle" maxlength="40">
        <span>{{  coverForm.get('subtitle').value.length }}/40</span>
      </div>
      <button class="btn btn-primary" [disabled]="coverForm.invalid">Save</button>
    </form>
  </div>
</div>
