<div class="info-box-wrapper" fxLayout="column">
  <div class="info-box-content" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="title">
      <span l10nTranslate>STEP_1_MESSAGE_BASIS</span>
      <a l10nTranslate (click)="fileInput.click()">STEP_1_SEARCH</a>
    </p>
    <div class="upload-files-btn" (click)="fileInput.click()"></div>
  </div>
  <div class="info-box-status">
    <div *ngIf="isAvailable" [innerHtml]="minMaxPortraitMessage"></div>
    <div>{{ warningFilesMessage }}</div>
    <div>{{ uploadedFilesMessage }} {{ minMaxWarningMessage }}</div>
    <div [innerHtml]="description"></div>
  </div>
  <input type="file" #fileInput hidden accept="image/jpeg,image/jpg" [multiple]="(maxFiles > 1)" (change) = "fileChange($event)" />
</div>
