@import '../../../../mixins';
@import '../../../../variables';

.step-1-photos-component {
  min-height: calc(100vh - 133px);
  
  &.dragarea {
    font-size: 24px;
    border: 3px solid #bbb; 
    padding: 20px ;
    background-color: #fff;
    color: #bbb;
  }

  &.droparea {
    font-size: 24px;
    border: 3px dashed #bbb; 
    padding: 20px ;
    background-color: #eff;
    color: #aaa;
  }

  .info-container {
    width: 480px;

    .title {
      font-family: "San Francisco Medium", Arial, sans-serif;
      line-height: 27px;
      color: $black;
      max-width: 385px;

      a {
        color: $psp-red;
      }
    }

    .upload-files-btn {
      position: relative;
      cursor: pointer;
      background-image: linear-gradient(to right, $color-primary, $color-secondary);
      min-width: 80px;
      min-height: 80px;
      border-radius: 50%;
  
      &:before {
        @include icon-grid-svg-display();
        @include icon-grid-svg(-22em, 0, 30px);
        position: absolute;
        left: 25px;
        top: 25px;
      }
    }

    .error {
      font-size: 18px;  
      color: $mostly-black;
      margin-top: 10px;
    }  
  }

  .img-container {
    height: 150px;
    margin: 10px;

    > img {
      height: 100%;
    }
  }
}
