<div draggable="true" class="step-1-photos-component d-flex flex-wrap align-content-start" ngClass="{{dragAreaClass}}">
  <div class="info-container">
    <div class="d-flex">
      <div class="title" >
        <span>Drag and drop photos on this page or </span>
        <a href="javascript:void(0)" (click)="file.click()" >
          search on your computer
        </a>
      </div>
      <div class='upload-files-btn' (click)="file.click()"></div>
      <input type="file"
        #file
        hidden
        accept="image/jpeg,image/jpg"
        [multiple]="(maxFiles > 1)"
        (change) = "onFileChange($event)" />
    </div>
    <div class="error" *ngIf="errors.length > 0">
      <div *ngFor="let err of errors">{{err}}</div>
    </div>
  </div>
  <div class="img-container" *ngFor="let i of imgSrcs">
    <img [src]="i" />
  </div>
</div>
