@import '../../../../mixins';
@import '../../../../variables';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $color-secondary;
}

.step-1-photos-component {
  position: relative;

  .info-area {
    position: absolute;
    width: 500px;
    font-size: 24px;
    padding: 17px;
    margin: 3px;
    z-index: 100;
    background: $white;

    .title {
      font-family: "San Francisco Medium", Arial, sans-serif;
      line-height: 27px;
      color: $black;
      max-width: 385px;

      a {
        color: $psp-red;
      }
    }

    .upload-files-btn {
      position: relative;
      cursor: pointer;
      background-image: linear-gradient(to right, $color-primary, $color-secondary);
      min-width: 80px;
      min-height: 80px;
      border-radius: 50%;

      &:before {
        @include icon-grid-svg-display();
        @include icon-grid-svg(-22em, 0, 30px);
        position: absolute;
        left: 25px;
        top: 25px;
      }
    }

    .error {
      font-size: 18px;
      color: $mostly-black;
      margin-top: 10px;
    }
  }
  
  .photo-drop-area {
    height: calc(100vh - 185px);
    overflow: auto;
    padding: 20px;

    &.dragarea {
      border: 3px solid #bbb; 
      background-color: #fff;
      color: #bbb;
    }
  
    &.droparea {
      border: 3px dashed #bbb; 
      background-color: #eff;
      color: #aaa;
    }
  
    // .img-container {
    //   position: relative;
    //   height: 150px;
    //   margin: 10px;
  
    //   > img {
    //     height: 100%;
    //   }
  
    //   .m-btn-photo-actions {
    //     width: 35px;
    //     height: 35px;
    //     display: inline-block;
    //     background-color: rgba(0, 0, 0, 0.4);
    //     border-radius: 8px;
    //     overflow: hidden;
    //     cursor: pointer;
      
    //     &.icon-warning {
    //       &:before {
    //         @include icon-grid-svg-display();
    //         @include icon-grid-svg(-10em, -1em, 20px);
    //         position: absolute;
    //         left: 50%;
    //         top: 50%;
    //       }
    //     }  
    //   }
    // }
    .img-container {
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0;
      margin: 0 10px 20px 10px;
      position: relative;
      overflow: hidden;

      &:first-child {
        margin-left: 500px;
      }
  
      .m-btn-photo-actions-wrapper {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px;
  
        .m-btn-photo-actions {
          width: 30px;
          height: 30px;
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 8px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
        
          &:before {
            @include icon-grid-svg-display();
            position: absolute;
            left: 6px;
            top: 5px;
          }
  
          &.icon-warning {
            &:before {
              @include icon-grid-svg(-10em, -1em, 20px);
            }
          }  
  
          &.icon-delete {
            background-color: $color-danger;
  
            &:before {
              @include icon-grid-svg(-27em, 0em, 16px);
            }
          }  
        }
      }
    }
  }

  .footer {
    padding: 5px 34px;

    .left-buttons {
      a {
        cursor: pointer;
        font-family: "San Francisco Bold", Arial, sans-serif;
        color: $color-primary;
        border-right: 1px solid $black;
        padding-right: 5px;

        &:last-child {
          border: none;
        }

        &.ascending {
          i {
            transform: rotate(180deg);
            transition: transform ease .2s;
          }
        }
      }
    }

    .common-rounded-button {
      min-width: 170px;
      min-height: 40px;
      font-size: 18px;
    }
  }
}
