<div class="login-page">
  <div class="medium-card card">
    <div class="text-left login-title" l10nTranslate>LOGIN</div>
    <div class="login-subtitle" [innerHtml]="'LOGIN_SUBTITLE' | translate:lang"></div>
    <form class="sign-in-form" name="loginForm" [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <label class="text-uppercase email-label-control">Email address:</label>
        <input class="form-control email-form-control" formControlName="email">
        <div class="form-field-error" *ngIf="loginFormErrors.email.required">
          Email is required
        </div>
        <div class="form-field-error" *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
          Please enter a valid email address
        </div>
      </div>

      <div class="form-group password-form-field">
        <label class="text-uppercase password-label-control">Password:</label>
        <input class="form-control password-form-control" type="password" formControlName="password">
        <div class="form-field-error" *ngIf="loginFormErrors.password.required">
          Password is required
        </div>
      </div>

      <div class="login-error-message">
        <div *ngIf="loginErrorMessage">
          {{ loginErrorMessage }}
        </div>
      </div>

      <div class="text-uppercase action">
        <button mat-raised-button class="btn btn-primary" [disabled]="loginForm.invalid" (click)="login()">
          Login
        </button>
        <button mat-raised-button class="btn btn-primary" [disabled]="loginForm.invalid" (click)="register()">
          Register
        </button>
      </div>
    </form>
    <div class="login-title" l10nTranslate>NOT_REGISTERED_YET</div>
    <div l10nTranslate>REGISTER_TIP</div>
  </div>
</div>
