<canvas #canvas width="600" hidden></canvas>
<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <p>Bewek foto</p>
    <p>{{ currentIndex + 1 }}</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div>
      <button mat-mini-fab (click)="slideImage(-1)"><mat-icon>chevron_left</mat-icon></button>
    </div>
    <div class="photo-editor-wrapper" fxFlex="1 1 auto">
      <div class="render-section">
        <image-cropper
          [hidden]="isSliding"
          [cropper]="tempCrop"
          [imageBase64]="tempbase64Image"
          format="jpg,jpeg"
          [maintainAspectRatio]="true"
          [aspectRatio]="cropRatio"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)">
        </image-cropper>
        <div class="temp-image-wrapper" *ngIf="isSliding" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
          <img [src]="originbase64Image" [style.transform]="'rotate(' + rotate + 'deg)'">
        </div>
      </div>
      <div class="footer-section" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="action-flip-area">
          <p>Foto draaien</p>
          <div fxLayout="row">
            <button mat-mini-fab type="button" (click)="rotateImage(180)"><mat-icon>chevron_left</mat-icon></button>
            <button mat-mini-fab type="button" (click)="rotateImage(180)"><mat-icon>chevron_right</mat-icon></button>
          </div>
        </div>
        <div class="action-rotate-area" fxFlex="1 1 auto">
          <mat-slider fxFlex="1 1 auto" [min]="-45" [max]="45" [(ngModel)]="rotate" (input)="sliding($event)" (change)="rotateChange()" [step]="1" color="primary"></mat-slider>
        </div>
        <div class="action-crop-area">
          <p>Crop style select</p>
          <div fxLayout="row" fxLayoutGap="5px">
            <button mat-mini-fab type="button" (click)="cropRatio = 4/3">4:3</button>
            <button mat-mini-fab type="button" (click)="cropRatio = 3/4">3:4</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-mini-fab (click)="slideImage(1)"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
  <div class="mt-3" fxLayout="row" fxLayoutAlign="center center">
    <pb-photo-mood-input fxFlex="1 1 auto" (selectStyle)="changeMood($event)"></pb-photo-mood-input>
  </div>
</mat-dialog-content>
